

.att {
  display: grid;
  grid-template-columns: min-content auto;
  align-self: flex-start;
  color: #001514;
  margin-left: 100px;
}


/* header wrap */
.att--header {
  font-family: PTSansBold;
  color: #001514;

  display: grid;
  grid-auto-flow: row;

  padding: 20px 40px;
}


/* month header */
.att--header--month {
  justify-self: center;
  font-size: 20px;

  color: #252625;
}

/* week header */
.att--header--day {
  display: flex;
  justify-content: space-between;
}
.att--header--day img {
  height: 30px;
}
.att--header--day-current {
  font-size: 50px;
  margin: 0 20px 0 20px;
}

.att--header--day-prev, .att--header--day-next {
  cursor: pointer;
  height: 40px;
  align-self: center;
  justify-self: flex-end;
}


/* header info */
.att--header--info {
  min-width: 300px;
  width: max-content;
  max-width: 500px;
  margin: 0 20px 0 20px;
  font-size: 45px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-bottom: 2px solid #bac1b8;
}






/* attendance subject wrap */
.att--daily--subject {
  display: flex;
  flex-flow: column;
}
.att--daily--subject > :first-child {
  margin-top: 0;
}
.att--classes-none {
  font-family: PTSansBold;
  font-size: 25px;
  color: #bac1b8;
  
  margin-left: 70px;
}
.att--daily--subject_row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 45px 30px;

  margin-bottom: 10px;
}
.helper-subject-abbreviation {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  border-radius: 3px;
  height: 40px !important;
  width: 60px !important;
  font-family: PTSansBold;
  font-size: 30px;
  font-weight: 900;
  color: #fbfffe;
  background-color: red;
  
  align-self: flex-start;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
.att--subject-edit {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  height: 25px;
  font-size: 15px;
  
  font-family: PTSansBold;
  background-color: #fbfffe;
  border: 0;
  color: #bac1b8;

  margin-left: 100px;
  align-self: flex-start;
  justify-self: flex-start;
  width: 300px;
  transition: all .15s;
}
.att--subject-edit:focus {
  font-size: 20px;
  color: #001514;
  transition: all .15s;
}
.att--options {
  grid-column: 2 / 3;
  display: flex;
  flex-flow: row;
  align-self: flex-start;

  margin-top: 7px;
}
.att--options :first-child {
  margin-left: 70px;
}
.att--options-attended, .att--options-absent, .att--options-pending {
  cursor: pointer;
  align-self: center;

  height: 25px;
  margin: 0 20px 0 20px;
}








/* attendance status */
.att--status {
  align-self: center;
  justify-self: center;

  display: flex;
  flex-flow: row;
}
.att--status-edit {
  cursor: pointer;

  height: 15px;
  align-self: flex-start;
  
  margin: 4px 15px 0 15px;
}
.att--status > span {
  padding: 2px 30px 2px 30px;
  
  color: #fbfffe;
  border-radius: 60px;
  font-family: PTSansBold;
  font-size: 20px;
}
.att--status-present {
  background-color: #8ea604;
}
.att--status-absent {
  background-color: red;
}
.att--status-pending {
  background-color: #faa916;
}













/* viewer */
.viewer {
  justify-self: center;
  
  display: flex;
  flex-flow: column;

  margin: 30px 0 0 100px;
}
.viewer--switch-daily, .viewer--switch-weekly {
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  
  background-color: #fbfffe;
  color: #001514;

  font-family: PTSansBold;
  font-size: 25px;
}
.viewer .active {
  background-color: #001514;
  color: #fbfffe;
}







/* weekly wrap */
.att--weekly {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
}


.att--weekly--header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  font-size: 40px;
  font-family: PTSansBold;
}


.att--weekly--days {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: min-content;
  grid-auto-rows: min-content;
}
.att--weekly--days--day {
  font-size: 30px;
  margin-top: 20px;
  font-family: PTSansBold;

  background-color: red;
  color: #fbfffe;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  
  display: flex;
  justify-content: center;
}





/* weekly subjects */
.att--weekly--subjects {
  display: grid;
  grid-auto-flow: column;
}
