
.header-wrap {
  padding: 2vw;
  grid-column: 1 / -1;

  font-family: PTSansBold;
  
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-evenly;
}

.header-wrap > * {
  align-self: center;
  justify-self: center;
}

img {
  height: 10vw;
  max-height: 100px;
}

span {
  font-family: unanimo;
  justify-self: flex-start;
  font-size: 8vw;
}

@media only screen and (min-width: 1400px) {
  span {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 600px) {
  span {
    font-size: 12vw;
  }
}
