
.header-wrap {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fbfffe;

  margin-bottom: 20px;
}

.logo {
  height: 80px;

  cursor: pointer;
}

.power {
  height: 40px;

  cursor: pointer;
}







/* media queries */
@media only screen and (max-width: 500px) {
  .logo, .power {
    height: 30px;
  }
}
