.att {
  display: grid;
  grid-template-columns: min-content auto;
  align-self: flex-start;
  color: #010001;
  margin-left: 100px;
}


/* header wrap */
.att--header {
  font-family: PTSansBold;
  color: #010001;

  display: grid;
  grid-template-rows: 70px repeat(2, auto);

  padding: 20px 40px;
  margin-left: 40px;
  margin-right: 40px;
}


/* month header */
.att--header--month {
  justify-self: center;
  font-size: 20px;

  color: #3a3a3a;
}

/* week header */
.att--header--day {
  display: flex;
  justify-content: space-between;
  
  overflow: hidden;
}
.att--header--day img {
  height: 30px;
}
.att--header--day-current {
  display: flex;
  align-items: center;
  flex-flow: column;

  width: min-content;
  font-size: 50px;
  margin: 0 20px 0 20px;
}
.att--header--day-current span {
  width: min-content;
}

.att--header--day-prev, .att--header--day-next {
  cursor: pointer;
  height: 40px;
  align-self: center;
  justify-self: flex-end;
}


/* header info */
.att--header--info {
  min-width: 300px;
  width: max-content;
  max-width: 500px;
  margin: 20px 20px 0 20px;
  font-size: 45px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ecebe4;
  color: #010001;
}






.att--daily {
  display: flex;
  flex-flow: column;
  align-items: center;

  padding-bottom: 40px;
  box-shadow: #bfc0c0 0 50px 100px -50px, #bfc0c0 80px 80px 100px -100px, #bfc0c0 -80px 80px 100px -100px;

  max-height: 70vh;
  overflow: hidden;
}
/* attendance subject wrap */
.att--daily--subject {
  display: flex;
  flex-flow: column;

  width: 100%;
  overflow-y: scroll;
  padding-right: 28px;
  padding-left: 28px;
  box-sizing: content-box;
}
.att--daily--subject > :first-child {
  margin-top: 0;
}
.att--classes-none {
  font-family: openSansLight;
  font-size: 25px;
  color: #727072;
  
  justify-self: center;
  margin-left: 110px;
}
.att--daily--subject_row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 45px 30px;

  margin-bottom: 10px;
}
.helper-subject-abbreviation {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  border-radius: 3px;
  height: 40px !important;
  width: 60px !important;
  font-family: PTSansBold;
  font-size: 30px;
  font-weight: 900;
  color: #fbfffe;
  background-color: #4b5358;
  
  align-self: center;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
.att--subject-edit {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  height: 25px;
  font-size: 15px;
  
  font-family: PTSansBold;
  background-color: transparent;
  border: 0;
  color: #bfc0c0;

  margin-left: 100px;
  align-self: flex-start;
  justify-self: flex-start;
  width: 300px;
  transition: all .15s;
}
.att--subject-edit:focus {
  font-size: 20px;
  color: #010001;
  transition: all .15s;
}
.att--options {
  position: relative;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-self: center;
  margin-right: 23px;
}
.att--options-attended, .att--options-absent, .att--options-pending {
  cursor: pointer;
  align-self: center;

  height: 25px;
  margin: 0 10px 0 10px;
}








/* attendance status */
.att--status {
  align-self: center;
  justify-self: center;

  display: flex;
  flex-flow: row;
}
.att--status-edit, .att--status-remove {
  cursor: pointer;

  height: 15px;
  margin-left: 10px;
  align-self: center;
  
  transition: all .15s;
}
.att--status-edit:hover, .att--status-remove:hover {
  height: 20px;
  margin-left: 6px;
  transition: all .15s;
}
.att--status > span {
  padding: 2px 30px 2px 30px;
  
  color: #fbfffe;
  border-radius: 60px;
  font-family: PTSansBold;
  font-size: 20px;
}
.att--status-present {
  background-color: #5a8908;
}
.att--status-absent {
  background-color: #ef0a02;
}
.att--status-pending {
  background-color: #faa613;
}













/* viewer */
.viewer {
  justify-self: flex-end;
  
  display: flex;
  flex-flow: column;

  margin: 30px 30px 0 0;
}
.viewer--switch-daily, .viewer--switch-weekly {
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  
  background-color: #fbfffe;
  color: #010001;

  font-family: PTSansBold;
  font-size: 25px;
}
.viewer .active {
  background-color: #010001;
  color: #fbfffe;
}







/* weekly wrap */
.att--weekly {
  display: grid;
  grid-template-columns: min-content repeat(2, auto);
  grid-template-rows: 180px min-content;

  width: min-content;
  padding-bottom: 30px;

  box-shadow: #bfc0c0 0 100px 1000px -200px, #bfc0c0 90px 130px 90px -130px, #bfc0c0 -90px 130px 90px -130px;
}


.att--weekly--header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  padding: 20px 40px 0 40px;
  margin: 0 0 30px 40px;
  justify-self: flex-start;

  font-family: PTSansBold;

  border-bottom: 2px solid #ecebe4;
}
.att--weekly--header--main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  
  overflow-y: hidden;
  font-size: 50px;
}
.att--weekly--header--week {
  margin: 0 40px 0 40px;
  display: flex;
  flex-flow: row;
  height: 70px;
}
.week-number {
  display: flex;
  flex-flow: column;
}
.att--weekly--header img {
  height: 30px;
  cursor: pointer;
}
.att--weekly--header--range {
  font-size: 20px;
  display: flex;
  justify-content: center;

  color: #3a3a3a;
}



.att--weekly--days {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  margin: 0 20px 0 20px;

  justify-self: center;
  display: grid;
  grid-template-columns: min-content;
  grid-auto-rows: min-content;
}
.att--weekly--days--day {
  font-size: 30px;
  margin: 10px 0 10px 0;
  font-family: PTSansBold;

  background-color: #010001;
  color: #fbfffe;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  
  display: flex;
  justify-content: center;
}





/* weekly subjects */
.att--weekly--subjects {
  grid-column: 2 / 4;
  grid-row: 2 / 3;

  display: grid;
  grid-auto-rows: auto;

  margin: 0 20px 0 20px;
}

.att--weekly--subjects_row {
  display: flex;
  align-items: center;
}
.att--weekly--subjects_row > .att--classes-none {
  margin: 0;
  justify-self: flex-start;
}
.att--weekly--subjects_row_wrap {
  position: relative;
  margin-right: 30px;

  display: grid;
  grid-auto-columns: 50px;

  align-self: center;
}
.att--weekly--subjects_row_wrap > .att--options {
  position: absolute;
  top: 37px;
  right: -23px;

  margin: 0 !important;
  padding: 0 !important;
  z-index: 1;
}
.att--weekly--subjects_row_wrap > .att--subject-edit {
  position: absolute;
  top: 0px;
  left: -85px;
}
.att--weekly--subjects_row_wrap > .att--options > * {
  margin: 5px;
}
.att--weekly--subjects_row_wrap-present > .helper-subject-abbreviation {
  background-color: #5a8908;
}
.att--weekly--subjects_row_wrap-absent > .helper-subject-abbreviation {
  background-color: #ef0a02;
}
.att--weekly--subjects_row_wrap-pending > .helper-subject-abbreviation {
  background-color: #faa613;
}
.att--weekly--subjects-edit {
  cursor: pointer;
  height: 10px;

  position: absolute;
  top: 5px;
  right: -15px;

  margin: 0 !important;
  padding: 0 !important;
  z-index: 1;

  transition: all .15s;
}
.att--weekly--subjects-edit:hover {
  height: 13px;
  transition: all .15s;
}











/* animations */
.day--anim-enter {
  font-size: 0px;
  opacity: 0;
  transform: translateY(120%);
}
.day--anim-enter.day--anim-enter-active {
  font-size: 50px;
  opacity: 1;
  transform: translateY(0);

  transition: all .35s;
}
.day--anim-leave {
  opacity: 1;
  transform: translateY(0);
}
.day--anim-leave.day--anim-leave-active {
  opacity: 0;
  font-size: 0;
  transform: translateY(120%);

  transition: all .35s;
}

.week-number-anim-enter {
  opacity: 0;
}
.week-number-anim-enter.week-number-anim-enter-active {
  opacity: 1;
  transition: all .5s;
}
