
/* login section */
.login-section {
  display: grid;
  grid-auto-rows: 50px;
  grid-gap: 30px;
  /* grid-auto-flow: row; */
}
.login-section > * {
  justify-self: center;
}

.login-section input {
  border: 0;
  border-bottom: 1px solid gray;

  align-self: flex-start;
  padding: 10px;
  background-color: whitesmoke;

  font-size: 17px;
}

.submit {
  height: 40px;
  margin-left: 200px;

  cursor: pointer;
}
