
.stats {
  display: grid;
  grid-auto-flow: row;
  /* grid-template-columns: min-content; */

  align-self: flex-start;
  margin-left: 100px;
  padding: 20px;
}

.stats--header {
  font-family: openSansBold;
  color: #010001;
  font-size: 50px;
  border-bottom: 2px solid #ecebe4;
  justify-self: flex-start;
}

.stats--content {
  padding: 20px;
}

.overall {
  display: grid;
  grid-auto-flow: row;
  width: min-content;
  font-family: PTSansBold;
}
.no--logs {
  font-size: 30px;
  width: 400px;
  color: #727072;
}

.overall > .overall--data:first-child {
  margin-top: 20px;
}

.overall--header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 120px;
  padding: 20px 20px 10px 20px;

  font-family: PTSansBold;
  font-size: 30px;

  justify-content: space-around;

  border-bottom: 2px solid #ecebe4;
}
.overall--header > * {
  justify-self: center;
}

.overall--content {
  padding: 20px;
}
.overall--data {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 120px;

  font-family: PTSansBold;
  color: #010001;
  font-size: 25px;

  padding-top: 10px;
}
.overall--data > * {
  justify-self: center;
  align-self: center;
}
.overall--subject {
  justify-self: flex-end;

  margin-right: 20px;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 28px !important;
  background-color: #232528;
  color: #fbfffe;
}

.overall--footer {
  border-top: 2px solid #e5e5e5;

  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  font-size: 30px;
}
.footer--total {
  grid-column: 2 / 3;
}
.overall--footer > * {
  justify-self: center;
  align-self: center;
}
