
.stats {
  display: grid;
  grid-auto-flow: row;
  /* grid-template-columns: min-content; */

  align-self: flex-start;
  margin-left: 100px;
  padding: 20px;
}

.stats--header {
  font-family: openSansBold;
  color: #010001;
  font-size: 50px;
  border-bottom: 2px solid #ecebe4;
  justify-self: flex-start;
}

.stats--content {
  padding: 20px;
}

.overall {
  display: grid;
  grid-auto-flow: row;
  width: min-content;
  font-family: PTSansBold;

  overflow: hidden;
}
.no--logs {
  font-family: openSansLight;
  font-size: 30px;
  width: 400px;
  color: #727072;
}

.overall > .overall--data:first-child {
  margin-top: 20px;
}

.overall--header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 120px;
  padding: 20px 20px 10px 20px;

  font-family: PTSansBold;
  font-size: 30px;

  justify-content: space-around;

  border-bottom: 2px solid #ecebe4;
}
.overall--header > * {
  justify-self: center;
}

.overall--content {
  padding: 20px;
  max-height: 40vh;
  overflow-y: scroll;
  width: 100%;
  /* padding-left: 1px; */
  box-sizing: content-box;
}
.overall--data {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 120px;

  font-family: PTSansBold;
  color: #010001;
  font-size: 25px;

  padding-top: 10px;
}
.overall--data > * {
  justify-self: center;
  align-self: center;
}
.overall--subject {
  justify-self: flex-end;

  margin-right: 20px;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 28px !important;
  background-color: #232528;
  color: #fbfffe;
}

.overall--footer {
  border-top: 2px solid #e5e5e5;

  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  font-size: 30px;
}
.footer--present, .footer--pending, .footer--absent {
  padding: 2px 20px;
  color: #fbfffe;
  border-radius: 3px;
}
.footer--present {
  background-color: #5a8908;
}
.footer--pending {
  background-color: #faa613;
}
.footer--absent {
  background-color: #ef0a02;
}
.footer--total {
  grid-column: 2 / 3;
}
.overall--footer > * {
  justify-self: center;
  align-self: center;
}



@media only screen and (max-width: 500px) {
  .stats--content {
    padding: 0;
    width: calc(100vw - 10px);
  }
  .overall {
    padding: 20px 0 0 0;
    width: 100%;

    grid-auto-rows: auto;
  }
  .overall--header {
    padding: 0;
    max-width: calc(100vw - 10px);

    grid-auto-columns: 1fr;
  }
  .overall--header > * {
    font-size: 15px;
  }
  .overall--content {
    padding: 0;
    max-width: calc(100vw - 10px);
    max-height: 45vh;

    overflow-y: scroll;
  }
  .overall--data {
    grid-auto-columns: 1fr;
  }
  .overall--data > * {
    font-size: 15px !important;
  }
  .overall--subject {
    margin: 0;
    justify-self: center;
  }
  .overall--footer {
    margin-top: 10px;
    padding: 10px 0 0 0;
    font-size: 16px;
  }
  .footer--present, .footer--pending, .footer--absent {
    padding: 2px 10px;
  }
}
