/* FONTS */
@font-face {
  font-family: openSansBold;
  src: url('../fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf');
}
@font-face {
  font-family: PTSans;
  src: url('../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf');
}


/* USER DEFINED */
.none {
  display: none;
}


html, body, #react-app {
  margin: 0;
}

#react-app {
  height: 100vh;
}

.app-wrap {
  height: 100%;
  background-color: whitesmoke;

  display: grid;
  grid-template-rows: 1fr max-content;
}

/* navigation bar */
.nav-wrap {
  background-image: url(../images/darktable_exported/clipboard.jpg);
  background-size: cover;

  color: rgb(14, 11, 11);
  font-family: openSansBold;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;

  overflow: hidden;
}
.heading {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2rem;
}
.main-heading {
  font-size: 8vh;
  letter-spacing: .1px;
  line-height: 60px;
}
.sub-heading {
  font-size: 4vh;
  margin: 1rem 0 0 2rem;
}
.user-icon {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  justify-self: flex-end;
  align-self: flex-start;

  margin: 20px 20px 0 0;
  height: 50px;

  cursor: pointer;
}

/* NAVBAR ANIMATIONS */
.login-popup-wrap {
  grid-column: 4 / -1;
  grid-row: 1 / 3;

  background-color: red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 200px;
}
.login-wrap > input {
  border: 0;
  background-color: whitesmoke;
}
.login-wrap > form {
  grid-column: 1 / -1;
}


.login-popup-enter {
  transform: translateX(120%);
}
.login-popup-enter.login-popup-enter-active {
  transform: translateX(0%);
  transition: all .25s;
}

.login-popup-leave {
  transform: translateX(0%);
}
.login-popup-leave.login-popup-leave-active {
  transform: translateX(120%);
  transition: all .25s;
}


/* footer */
.footer-wrap {
  background-color: #201818;
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
}





/* MOBILE rules */
@media only screen and (max-width: 600px) {
  .user-icon {
    margin: 8px 8px 0 0;
    height: 40px;
  }
  .login-popup-wrap {
    grid-column: 1 / -1;
  }
}
