/* FONTS */
@font-face {
  font-family: openSansBold;
  src: url('../fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf');
}
@font-face {
  font-family: PTSans;
  src: url('../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf');
}


html, body, #react-app {
  margin: 0;
}

#react-app {
  height: 100vh;
}

.app-wrap {
  height: 100%;
  background-color: whitesmoke;

  display: grid;
  grid-template-rows: 100fr 7fr;
}

/* navigation bar */
.nav-wrap {
  background-image: url('../images/main.jpg');
  background-size: cover;
  color: black;
  font-family: openSansBold;
  font-size: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-up, .log-in {
  border: 4px solid rgb(51, 42, 42);
  font-family: PTSans;
  font-size: 6vh;
  color: rgb(51, 42, 42);
  background-color: rgba(255, 255, 255, 0);

  margin: 1rem;
  transition: all 0.25s;
}
.sign-up:hover, .log-in:hover {
  border-color: rgb(156, 152, 74);
  color: rgb(156, 152, 74);
  transition: all 0.25s;
}


/* footer */
.footer-wrap {
  background-color: #201818;
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
