
.timetable-wrap {
  border: 0;
  width: 500px;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.timetable-content {
  padding: 20px;
  height: 80%;

  /* box-shadow: #bbcbcb -90px 130px 90px -130px, #bbcbcb 0 100px 1000px -200px, #bbcbcb 90px 130px 90px -130px; */
  
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-gap: 10px;
}



.timetable-heading {
  font-family: openSansBold;
  color: #0d1321;
  font-size: 50px;
  border-bottom: 1px solid #e5e5e5;
  width: 60%;
}
.saved-timetable-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  font-family: openSansLight;
  padding: 20px;
}
.empty {
  align-self: center;
  font-family: openSansLight;
  font-size: 20px;
  font-weight: 800;
  color: #626868;
}
.saved-timetable {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto min-content;
  grid-gap: 20px;
}
.tag {
  font-size: 20px;
  font-weight: 900;
  align-self: center;
}
.timetable-options {
  /* display: none; */
  display: flex;
  flex-flow: row;
}
.timetable-options:hover {
  /* grid-column:  */
  display: flex;
  flex-flow: row;
}
.remove, .edit, .primary {
  cursor: pointer;
  height: 30px;
  justify-self: center;
  align-self: center;
  margin: 10px;
}


.add-timetable {
  align-self: flex-start;
  justify-self: flex-end;

  border: 0;
  padding: 10px;
  background-color: #32292f;
  color: whitesmoke;
}


/* popup */
.tt-popup-wrap {
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  flex-flow: column;

  box-shadow: #bbcbcb 0 100px 1000px -200px, #bbcbcb 90px 130px 90px -130px, #bbcbcb -90px 130px 90px -130px;
  padding: 20px;

  align-self: flex-start;
  justify-content: flex-end;
  min-width: 500px;
  width: min-content;
}
.tt-popup-content {
  display: flex;
  border-bottom: 1px solid #bbcbcb;
}






/* days wrap */
.tt-popup-wrap .day-wrap {
  display: flex;
  flex-flow: column;

  grid-row: 2 / 3;
}
.popup-day {
  align-self: center;
  justify-self: center;
  margin: 20px;
  margin-right: 40px;
  width: 100px;

  font-family: PTSansBold;
  font-size: 30px;
}




/* input rows wrap */
.input-row-wrap {
  display: grid;
  grid-template-rows: repeat(min-content, 1fr);
}
.row-wrap {
  display: flex;
  flex-flow: row;
  align-self: center;
}
.row-wrap.Monday {
  margin-top: 20px;
}
.subject-wrap {
  display: grid;
  grid-template-columns: repeat(10, min-content);
}
.subject-name {
  cursor: pointer;
  height: 40px !important;
  width: 40px !important;
  margin: 10px;
  padding: 0;
  font-family: PTSansBold;
  font-size: 20px;
  font-weight: 900;
  color: #fbfffe;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;
  border-radius: 100%;
  border: 1px solid red;

  transition: all 0.25s;
}
.subject-abbreviation {
  position: absolute;
}
.subject-name:hover, .subject-name:focus {
  background-color: #fbfffe;
  color: red;

  transition: all 0.25s;
}
.edit-subject-popup {
  top: 38px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: black 0 0 60px -25px !important;
  border-radius: 20px;
  width: min-content !important;
}
#editsub {
  z-index: 1;
  width: 200px;
  border: 1px solid red !important;
  border-radius: 20px;
  padding-left: 20px !important;
  padding: 2px;
  background-color: #fbfffe;
}
.add-subject-popup {
  z-index: 1;
  align-self: center;
  position: fixed;
  background-color: #fbfffe;
  box-shadow: #bbcbcb 0 50px 100px -50px, #bbcbcb 80px 80px 100px -100px, #bbcbcb -80px 80px 100px -100px;

  top: 150px;
  min-width: 400px;
  display: flex;
  flex-flow: column;

  padding: 20px;
}
.add-subject-classes-wrap {
  display: flex;
  flex-flow: column;
}
.classes-label {
  font-family: PTSansBold;
  font-size: 15px;
  margin-top: 10px;
  align-self: center;
}
.add-subject-add-classes, .add-subject-sub-classes {
  border: 0;
  height: 30px;
  width: 30px;
  border-radius: 100%;

  background-color: #bf1a2f;
  color: #fbfffe;
}
.classes-wrap {
  display: flex;
  justify-content: center;
}
.classes-wrap input {
  border: 0;
  background-color: #fbfffe;
  width: 30px;

  margin: 0 10px 0 10px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
.input-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: auto;
  max-height: 50vh;
  margin-left: 20px;
  padding-right: 20px;
}
.input-wrap input, .edit-subject-popup input {
  border: 0;
  font-family: PTSansBold;
  border-bottom: 1px solid #bbcbcb;
  padding: 0 5px 4px 10px;
  margin-top: 20px;
  width: 200px;
}
.edit-subject-popup input {
  margin: 0 !important;
}
.input-wrap input:focus, .edit-subject-popup input:focus {
  border-color: black;
  transition: all .25s;
}
.add-subject-day {
  font-size: 50px;
  line-height: 50px;
  font-family: PTSansBold;
  margin-bottom: 40px;
}
.continue {
  cursor: pointer;
  height: 30px;
  align-self: flex-end;
  margin: 20px 0 0 0;
}
.add-button {
  justify-self: center;
  align-self: center;
  margin-left: 20px;

  border: 0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #2b061e;
  color: #fbfffe;
}





.close-button {
  cursor: pointer;
  grid-column: -2 / -1;
  grid-row: 1 / 2;

  height: 30px;
  align-self: flex-end;
}
.save-button {
  cursor: pointer;
  grid-column: 2 / 3;
  grid-row: -2 / -1;

  align-self: flex-end;

  font-family: PTSansBold;
  margin-top: 40px;
  border: 0;
  background-color: #0d1321;
  color: whitesmoke;

  padding: 10px 20px 10px 20px;
}



